body{
    flex: auto;
}

.navbar {
    display: flex;
    justify-content: space-between; /*separa logo de enlaces*/
    align-items: center; /*cada uno centrado*/
    background-color: #1a1a1a; /*color de fondo de la barra*/
    padding: 3px 30px;
    color: red;
    border-radius: 1%;
}

.logo img{
    border-radius: 80%;
    width: 35%;
    height: auto;
    padding: 10px;
}

/*lista de enlaces*/
.nav-links {
    list-style: none; /*quita puntos de lista*/
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid yellow;
    padding: 20px;
    border-radius: 20%;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

.nav-links a:hover {
    color: blueviolet;
}

.headerimg {
    position: relative;
    text-align: center;
    width: 100%;
}

.headerimg img{
    width: 100%;
    height: 60%;
    display: block;
}

.tituloHeader {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: aliceblue;
    font-size: 100px;
}

.contGeneral {
    text-align: center;
    margin-top: 20px;
}

.tittlegeneral {
    color: white;
    background-color: black;
    font-size: 100px;
    border-radius: 2%;
    display: inline-block;
}

.pegeneral {
    position: absolute;
    margin-right: 60px;
}



.listings ul {
    list-style: none;
    display: flex;
    justify-content: center; 
    padding: 0;
    margin-top: 30px;
}

.litem {
    text-align: center;
}

.litem img {
    width: 100px; 
    height: 100px;
    border-radius: 15px;
    border: 3px solid black;
}



.lists-item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.secSty {
    margin: 50px auto;
    padding: 40px;
    width: 80%;
    border-radius: 20px;
    color: white;
    text-align: left;
}

.secSty img {
    height: auto;
    display: block;
    margin-top: 20px;
    border: 2px solid white;
}


